.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }

.table-wrapper-scroll-y {
    display: block;
}

.row{
    margin-top: 10px;
}

.container-fluid {
    min-height: 100vh;
    overflow-y: scroll;
  }
  