<link href="../static/sign-in.css" rel="stylesheet">
{% extends "layout.html" %}
{% block content %}
    <main class="form-signin w-100 m-auto">
        <form method="POST" action="">

            {{ form.hidden_tag() }}
            
            <div class="container justify-content-center">
                <img class="mb-4" src="https://icon-library.com/images/health-icon-png/health-icon-png-24.jpg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            </div>
            
         <div class="form-floating">
            {{ 
                form.email.label(type="email", class="form-control", id="floatingInput", placeholder="Email address") 
            }}
            <label for = "floatingInput">Email address</label>
            {% if form.email.erros %}
                {{ form.email(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span> {{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-floating form-floating-lg")}}
            {% endif %}
        </div>

        <!--<div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        -->
        
        <div class="form-floating">
            {{ form.password.label(type="password", class="form-control", id="floatingInput", placeholder="Password") }}
            <label for = "floatingInput">Password</label>
            {% if form.password.erros %}
                {{ form.password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span> {{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-floating form-floating-lg")}}
            {% endif %}
        </div>

        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
        </form>
    </main>
{% endblock content %}