flask_app/flask_webapp/static/Papaya/* filter=lfs diff=lfs merge=lfs -text
flask_app/flask_webapp/static/Papaya/papaya-builder.sh filter=lfs diff=lfs merge=lfs -text
flask_app/flask_webapp/static/Papaya/src filter=lfs diff=lfs merge=lfs -text
flask_app/flask_webapp/static/Papaya/tests filter=lfs diff=lfs merge=lfs -text
flask_app/flask_webapp/static/Papaya/build.properties filter=lfs diff=lfs merge=lfs -text
flask_app/flask_webapp/static/Papaya/docs filter=lfs diff=lfs merge=lfs -text
flask_app/flask_webapp/static/Papaya/package.json filter=lfs diff=lfs merge=lfs -text
flask_app/flask_webapp/static/Papaya/package-lock.json filter=lfs diff=lfs merge=lfs -text
flask_app/flask_webapp/static/Papaya/README.md filter=lfs diff=lfs merge=lfs -text
flask_app/flask_webapp/static/Papaya/release filter=lfs diff=lfs merge=lfs -text
flask_app/flask_webapp/static/Papaya/lib filter=lfs diff=lfs merge=lfs -text
flask_app/flask_webapp/static/Papaya/LICENSE filter=lfs diff=lfs merge=lfs -text
