Flask
Flask-Login 
Jinja2
WTForms
Flask-WTF
bcrypt
blinker
certifi
cffi
click
Flask-Bcrypt
Flask-Mail
Flask-SQLAlchemy
itsdangerous
flask_mysqldb
flask-migrate
email_validator
werkzeug
Flask-Migrate
flask_migrate