{% extends "doctor_templates/layout_doctor.html" %}

{% block head %}
{% endblock %}

{% block visualizer %}
    <div class="container">
        <div class="row" style="padding-top: 10px;">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Appointment
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Take new appointment</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Followed Patient
                    </div>
                    <div class="card-body">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">

                            <table class="table table-bordered table-striped mb-0">
                              <thead>
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Surname</th>
                                  <th scope="col">CF</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for patient in patients %}
                                <tr>
                                  <th scope="row">{{patient.id_patient}}</th>
                                  <td>{{patient.first_name}}</td>
                                  <td>{{patient.surname}}</td>
                                  <td>{{patient.CF}}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#myModal">Add patient</button>
                        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#myModal2">Remove followed patient</button>
                        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="modalTitle">Add patient to followed patients</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      <form action="{{ url_for('add_patient') }}" method="POST">
                                          <div class="form-group">
                                              <div class="row">
                                                <div class="col">
                                                  <div class="form-floating"></div>
                                                  <label for="patient_name">Patient name</label>
                                                  <input type="text" class="form-control" name="patient_name" id="patient_name" required>
                                                </div>
                                                <div class="col">
                                                  <label for="patient_surname">Patient surname</label>
                                                  <input type="text" class="form-control" name="patient_surname" id="patient_surname" required>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col">
                                                  <label for="cf">Patient CF</label>
                                                  <input type="text" class="form-control" name="cf" id="cf" required>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col">
                                                  <label for="date">Birth date</label>
                                                  <input type="date" class="form-control" name="date" id="date" required>
                                                </div>
                                              </div>
                                          </div>
                                          <button type="submit" class="btn btn-primary">Salva</button>
                                      </form>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="modalTitle">Remove patient from followed patients</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      <form action="{{ url_for('remove_patient') }}" method="POST">
                                          <div class="form-group">
                                              <div class="row">
                                                  <div class="col">
                                                      <div class="form-floating"></div>
                                                      <label for="patient_select">Select a patient</label>
                                                      <select class="form-select" name="patient_select" id="patient_select" required>
                                                          {% for patient in patients %}
                                                          <option value="{{ patient.id_patient }}">{{ patient.first_name }} {{ patient.surname }}</option>
                                                          {% endfor %}
                                                      </select>
                                                  </div>
                                              </div>
                                          </div>
                                          <button type="submit" class="btn btn-danger">Remove</button>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>                    
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  Notifications
                  <ul class="nav nav-tabs card-header-tabs float-end" id="notification-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" id="left-tab" data-bs-toggle="tab" href="#left-notifications">Appointment</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="right-tab" data-bs-toggle="tab" href="#right-notifications">Comunication</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="left-notifications">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <span class="badge bg-info">Info</span> Messaggio di notifica 1 (Sinistra)
                        </li>
                        <li class="list-group-item">
                          <span class="badge bg-success">Successo</span> Messaggio di notifica 2 (Sinistra)
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="right-notifications">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <span class="badge bg-warning text-dark">Avviso</span> Messaggio di notifica 3 (Destra)
                        </li>
                        <li class="list-group-item">
                          <span class="badge bg-danger">Errore</span> Messaggio di notifica 4 (Destra)
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
              <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                Hello, world! This is a toast message.
              </div>
            </div>
        </div>
    </div>
{% endblock %}
