{% extends "doctor_templates/layout_doctor.html" %}

{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block visualizer %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-success flash-message" role="alert">
              {{ messages[0] }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        {% endwith %}
        <div class="row" style="padding-top: 10px;">
          <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Appointment
                </div>
                <div class="card-body">
                    <h5 class="card-title">Insert data to take a new appointment</h5>
                    <form action="{{url_for('take_appointment')}}" method="POST">
                        <div class="form-group">
                            <label for="patient_select">Select Patient</label>
                            <select class="form-select" name="patient_select" id="patient_select" required>
                                {% for patient in patients %}
                                <option value="{{ patient.id_patient }}">{{ patient.first_name }} {{ patient.surname }} CF: {{ patient.CF }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                              <label for="appointment_date">Date</label>
                              <input type="date" class="form-control" name="appointment_date" id="appointment_date" min="{{ current_date }}" required>
                            </div>                        
                        </div>
                        <div class="form-group">
                            <label for="appointment_time">Time</label>
                            <input type="time" class="form-control" name="appointment_time" id="appointment_time" required>
                        </div>
                        <div class="form-group">
                            <label for="appointment_reason">Reason</label>
                            <input type="text" class="form-control" name="appointment_reason" id="appointment_reason" required>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Take Appointment</button>
                    </form>
                </div>
            </div>
        </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-header">
                        Followed Patient
                    </div>
                    <div class="card-body">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">

                            <table class="table table-bordered table-striped mb-0">
                              <thead>
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Surname</th>
                                  <th scope="col">CF</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for patient in patients %}
                                <tr>
                                  <th scope="row">{{patient.id_patient}}</th>
                                  <td>{{patient.first_name}}</td>
                                  <td>{{patient.surname}}</td>
                                  <td>{{patient.CF}}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#myModal">Add patient</button>
                        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#myModal2">Remove followed patient</button>
                        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="modalTitle">Add patient to followed patients</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      <form action="{{ url_for('add_patient') }}" method="POST">
                                          <div class="form-group">
                                              <div class="row">
                                                <div class="col">
                                                  <div class="form-floating"></div>
                                                  <label for="patient_name">Patient name</label>
                                                  <input type="text" class="form-control" name="patient_name" id="patient_name" required>
                                                </div>
                                                <div class="col">
                                                  <label for="patient_surname">Patient surname</label>
                                                  <input type="text" class="form-control" name="patient_surname" id="patient_surname" required>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col">
                                                  <label for="cf">Patient CF</label>
                                                  <input type="text" class="form-control" name="cf" id="cf" required>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col">
                                                  <label for="date">Birth date</label>
                                                  <input type="date" class="form-control" name="date" id="date" required>
                                                </div>
                                              </div>
                                          </div>
                                          <button type="submit" class="btn btn-primary">Salva</button>
                                      </form>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="modalTitle">Remove patient from followed patients</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      <form action="{{ url_for('remove_patient') }}" method="POST">
                                          <div class="form-group">
                                              <div class="row">
                                                  <div class="col">
                                                      <div class="form-floating"></div>
                                                      <label for="patient_select">Select a patient</label>
                                                      <select class="form-select" name="patient_select" id="patient_select" required>
                                                          {% for patient in patients %}
                                                          <option value="{{ patient.id_patient }}">{{ patient.first_name }} {{ patient.surname }} {{patient.CF}}</option>
                                                          {% endfor %}
                                                      </select>
                                                  </div>
                                              </div>
                                          </div>
                                          <button type="submit" class="btn btn-danger">Remove</button>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>                    
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-sm">
              <div class="card">
                <div class="card-header">
                  Notifications
                  <ul class="nav nav-tabs card-header-tabs float-end" id="notification-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" id="left-tab" data-bs-toggle="tab" href="#left-notifications">Appointment</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="right-tab" data-bs-toggle="tab" href="#right-notifications">Comunication</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="left-notifications">
                      <ul class="list-group list-group-flush">
                          {% for appointment in appointments %}
                              <li class="list-group-item">
                                  <span class="badge bg-info">Patient's appointment</span>
                                  {{ appointment.patient.first_name }} {{ appointment.patient.surname }} - {{ appointment.time.strftime('%H:%M') }}
                              </li>
                          {% endfor %}
                      </ul>
                  </div>
                  {% if images %}                  
                    <div class="tab-pane fade" id="right-notifications">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          {% for patient in patients %}
                          {% for image in patient.images %}
                           {% if not image.notified %}
                            <span class="badge bg-warning text-dark">
                              Image Acquisition
                            </span>
                            You have to visualize medical image for this patient: 
                            <strong>{{patient.first_name}} {{patient.surname}} {{patient.CF}}</strong>
                            dall'operatore n°{{image.healthcareworker.id_worker}} - {{image.healthcareworker.hw_role_not_doctor}}
                            {% endif %}
                          {% endfor %}
                          {% endfor %}
                        </li>
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <div class="card-header">
                    Appointments List
                </div>
                <div class="card-body">
                    <h5 class="card-title">List of appointments</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Patient</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in appointments %}
                            <tr>
                                <td>{{ appointment.patient.first_name }} {{appointment.patient.surname}} {{appointment.patient.CF}}</td>
                                <td>{{ appointment.date }}</td>
                                <td>{{ appointment.time }}</td>
                                <td>{{ appointment.reason }}</td>
                                <td>
                                    <form action="{{url_for('delete_appointment')}}" method="POST">
                                        <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // Funzione per nascondere automaticamente il messaggio flash dopo un certo tempo
        function hideFlashMessage() {
            var flashMessage = document.querySelector('.flash-message');
            if (flashMessage) {
                setTimeout(function() {
                    flashMessage.style.display = 'none';
                }, 5000); // 5000 millisecondi = 5 secondi, puoi personalizzare il tempo di visualizzazione
            }
        }

        // Chiamata alla funzione quando la pagina è completamente caricata
        window.addEventListener('DOMContentLoaded', function() {
            hideFlashMessage();
        });
    </script>
{% endblock %}

