{% extends "doctor_templates/layout_doctor.html" %}

{% block visualizer %}
<body>
  <div class="container">
    <h1>Pazienti</h1>

    <!-- Barra di ricerca -->
    <div class="row">
      <div class="col-md-6">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Cerca paziente" aria-label="Cerca">
          <button class="btn btn-primary" type="submit">Cerca</button>
        </form>
      </div>
    </div>

    <!-- Elenco pazienti -->
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="list-group" id="patient-list">
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#patient1">
            Paziente 1
          </a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#patient2">
            Paziente 2
          </a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#patient3">
            Paziente 3
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content" id="patient-content">
          <div class="tab-pane fade" id="patient1">
            <h4>Paziente 1</h4>
            <p>
              Descrizione dettagliata del Paziente 1.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed tempus est id enim condimentum consequat.
              Nullam nec felis sit amet odio tincidunt gravida id sed metus.
              Nulla eget libero mi.
            </p>
          </div>
          <div class="tab-pane fade" id="patient2">
            <h4>Paziente 2</h4>
            <p>
              Descrizione dettagliata del Paziente 2.
              Ut auctor euismod augue, sed tincidunt quam auctor vitae.
              Maecenas eu malesuada mauris, in tristique eros.
              Aliquam consectetur, ligula ac ullamcorper vulputate, justo diam vulputate ante, vitae gravida urna nisi id felis.
            </p>
          </div>
          <div class="tab-pane fade" id="patient3">
            <h4>Paziente 3</h4>
            <p>
              Descrizione dettagliata del Paziente 3.
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
              Etiam sed feugiat urna, eget tristique massa.
              Sed semper massa eu velit hendrerit, ut dapibus lacus dapibus.
              Sed eu aliquet nisi, ac dignissim mauris.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}