{% extends "doctor_templates/layout_doctor.html" %}
{% block head %}
  <script type="text/javascript" src="../../static/Papaya/release/current/standard/papaya.js"></script>
  <link rel="stylesheet" type="text/css" href="../../static/Papaya/release/current/standard/papaya.css">
  <script>
    var params = []
    var base64_data = "{{ image_data }}"
    params["encodedImages"] = [base64_data];
  </script>
{% endblock %}

{% block visualizer %}
<div class="container-fluid">
  <div style="width:80%; height:80%; justify-content:center; align-items:center; display: flex;">
    <div class="papaya" data-params="params">
      <button type="button" class="btn btn-primary" style="align-items:right">Botton</button>
      <button type="button" class="btn btn-primary">Botton</button>
    </div>
  </div>
</div>
{% endblock %}