{% extends "admin_template/layout_admin.html" %}
{%block visualizer%}
<div class="container">
    <h2>HealthcareWorker in db</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>email</th>
                <th>Birth Date</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for hw in workers %}
                <tr>
                    <td>{{hw.name}}</td>
                    <td>{{hw.surname}}</td>
                    <td>{{hw.email}}</td>
                    <td>{{hw.birth_date}}</td>
                    <td>
                        {% if hw.hw_role_not_doctor %}
                            {{ hw.hw_role_not_doctor }}
                        {% else %}
                        <form method="POST" action="/confirm-role/{{ hw.id_worker }}">
                            <input type="text" name="role" class="form-control" placeholder="Enter role">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </form>
                        {% endif %}
                    </td>
                    <td>
                        {% if not hw.is_active %}
                        <a href="{{ url_for('activate_account_hw', worker_id=hw.id_worker) }}" class="btn btn-primary">Active doctor account</a>
                        {% else %}
                        Account activated
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}