{% extends "admin_template/layout_admin.html" %}
{% block visualizer %}
<style>
    th {
        text-align: center;
    }
</style>
<div class="container">
    <h2>Doctor in db</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>email</th>
                <th>Birth Date</th>
                <th>Account status</th>
                <th>Actions</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{doctor.name}}</td>
                <td>{{doctor.surname}}</td>
                <td>{{doctor.email}}</td>
                <td>{{doctor.birth_date}}</td>
                <td>
                    {% if doctor.is_active == False %}
                    Inactive account
                    {% else %}
                    Activate account
                    {% endif %}
                </td>
                <td>
                    {% if doctor.is_active == False %}
                    <a href="{{ url_for('activate_account', doctor_id=doctor.id_worker) }}" class="btn btn-primary">Active doctor account</a>
                    {% endif %}
                    {% if doctor.dep_rif %}
                        <form method="POST" action="{{url_for('assign_doctor_department', doctor_id=doctor.id_worker)}}">
                            <select class="form-select" name="department" id="department_{{ doctor.id_worker }}" data-doctor-id="{{ doctor.id_worker }}" onchange="toggleConfirmButton(this)">
                                <option value="">Change department for this doctor</option>
                                {% for department in departments %}
                                    <option value="{{ department.department_id }}">{{ department.department_name }}</option>
                                {% endfor %}
                                <!-- Aggiungi altre opzioni di dipartimento qui -->
                            </select>
                            <button type="submit" class="btn btn-success btn-sm" id="confirmButton_{{ doctor.id_worker }}" disabled>Assign Department</button>
                        </form>
                    {% endif %}
                </td>
                <td>
                    {% if doctor.is_active == True and doctor.dep_rif==None %}
                    <form method="POST" action="{{url_for('assign_doctor_department', doctor_id=doctor.id_worker)}}">
                        <select class="form-select" name="department" id="department" onchange="toggleConfirmButton(this)">
                            <option value="">Select department for this doctor</option>
                            {% for department in departments %}
                            <option value="{{department.department_id}}">{{department.department_name}}</option>
                            {% endfor %}
                            <!-- Aggiungi altre opzioni di dipartimento qui -->
                        </select>
                        <button type="submit" class="btn btn-success btn-sm" id="confirmButton" disabled>Assign Department</button>
                    </form>
                    {% else %}
                        {% set department = departments|selectattr('department_id', 'equalto', doctor.dep_rif)|first %}
                        {% if department %}
                            {{ department.department_name }}
                        {% else %}
                            Department not found
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function toggleConfirmButton(selectElement) {
    var doctorId = selectElement.dataset.doctorId;
    var confirmButton = document.getElementById('confirmButton_' + doctorId);
    confirmButton.disabled = (selectElement.value === '');
}
</script>

{% endblock %}
